[submodule "boss_batch_push"]
	path = boss_batch_push
	url = https://github.com/Ocyss/boss_batch_push
[submodule "LeetCodeRating"]
	path = LeetCodeRating
	url = git@github.com:Ocyss/LeetCodeRating.git
